.header {
  border-bottom: 1px solid $color-header-border;

  &__container {
    padding-top: 16px;
    padding-bottom: 16px;

    display: flex;
    align-items: center;
  }

  &__nav {
    @media screen and (min-width: 768px) {
      margin-left: 88px;
    }
  }

  &__contacts {
    @media screen and (min-width: 768px) {
      margin-left: 84px;
    }

    @media screen and (min-width: 1200px) {
      margin-left: auto;
    }
  }
}
