.menu__button {
  display: none;

  width: 40px;
  height: 40px;

  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    fill: $color-accent;
  }

  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--close {
    @media screen and (max-width: 767px) {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}
