.social {
  display: none;
  color: $color-accent;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
  }

  &__item {
    position: relative;
    display: flex;
  }

  &__item:not(:first-child) &__link::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: -10px;

    border: 1px solid rgba(33, 33, 33, 0.2);
  }

  @media screen and (max-width: 436px) {
    &__item:nth-child(4) &__link::before {
      content: "";
      display: none;
    }
  }

  &__link {
    color: $color-accent;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    @media screen and (max-width: 345px) {
      font-size: 16px;
    }
    @media screen and (max-width: 326px) {
      font-size: 14px;
    }
  }
}
